.col-sm-4 {float: right;}

.col-sm-3 {float: left;}

body {
	padding-top: 50px;
}

.vote-controls { margin-right: 10px; width: 30px; position: relative; top: -6px; }
.vote-controls .votes-count { font-weight: bold; font-size: 40px; line-height: 50px; }
.vote-up + .votes-count { font-size: 12px; line-height: 5px; font-weight: bold; position: relative; top: -4px; }
.vote-up, .vote-down { line-height: 10px !important; width: 30px; }
.vote-up { color: green; }
.vote-down { color: #E54028; position: relative; top: -10px; }

.inline-block { display: inline-block; }
.inline { display: inline; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-left { text-align: left; }

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}