<template name="selection">
	<!-- <h1>Submit Your Idea!</h1>
	<p><a class="btn btn-primary btn-lg" href="{{pathFor 'quickForm'}}" role="button">Quick Thought</a></p>
	<p><a class="btn btn-primary btn-lg" href="{{pathFor 'ideaForm'}}" role="button">Deep Thought</a></p> -->
	<div class="container" id="about" name="about">
			<div class="row">
			<br>
				<center><h1>Submit Your Idea!</h1></center>
				<center><p>We believe ideas come from everyone, everywhere. In fact, at BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p></center>
				<hr>

				<center><p>How Developed is your idea?</p></center>
				<hr>
				
				<div class="col-lg-6">
					<center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'quickForm'}}" role="button"><small>Quick Thought</small></a></p></center>
					<center><p>I have the stub of an idea for the community to build upon</p></center>
					<center><p>(3-5 sentence submissions)</p></center>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'ideaForm'}}" role="button"><small>Deep Thought</small></a></p></center>
					<center><p>I have the stub of an idea for the community to build upon</p></center>
					<center><p>(3-5 sentence submissions)</p></center>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
</template>