<template name="selection">
	<!-- <h1>Submit Your Idea!</h1>
	<p><a class="btn btn-primary btn-lg" href="{{pathFor 'quickForm'}}" role="button">Quick Thought</a></p>
	<p><a class="btn btn-primary btn-lg" href="{{pathFor 'ideaForm'}}" role="button">Deep Thought</a></p> -->
	<div class="container" id="about" name="about">
			<div class="row">
			<br>
				<center><h1>Submit Your Idea!</h1></center>
				<center><p>We’re always looking for new policy problems to document, discuss and solve as a community.  Your topic proposal can be based on any legal question affecting new ventures or technologies, from the practical to the fanciful.  Our site editors will review your submission and either post it as a new article, ask you for more information, or explain why it can’t be posted.</p></center>
				<hr>

				<center><p>How Developed is your idea?</p></center>
				<hr>
				
				<div class="col-lg-6">
					<center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'quickForm'}}" role="button"><small>Quick Thought</small></a></p></center>
					<center><p>I have the stub of an idea for the community to build upon.</p></center>
					<center><p>(3-5 sentence submissions)</p></center>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'ideaForm'}}" role="button"><small>Deep Thought</small></a></p></center>
					<center><p>I have a fully-developed idea and want to submit a draft article to the community. </p></center>
					<center><p>(3-5 sentence submissions)</p></center>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
</template>