<template name="quickForm">
	<form class="form-vertical" role="form">
		<center><h1>Quick Thought</h1></center>
		<hr>
		<center><p>In just a few sentences, how is the law failing to meet the needs of emerging tech and new ventures?</p></center>
		<center><p><small>Which top-level area of law most needs reform in order to address the problem?</small></p></center>
		<div class="form-group">
			<textarea class="form-control" name="problem" type="text" value="{{problem}}" placeholder="Type your issue"></textarea>
		</div>
		<center><input type="submit" value="Submit" class="btn btn-success"/></center>
	</form>
</template>