<template name="copyright">
  <div class="jumbotron">
      <div class="container">
        <h1>Copyright</h1>
        <p>With the constant emergence and evolution of new distribution platforms, new technology threatens to render copyright law as we know it obsolete, perhaps more than any other policy area.  This portal breaks down the granular copyright topics of greatest concern to the legal tech community. </p>
      </div>
  </div>

  <div class="col-md-4">
    <div class="list-group">
      <ul class="list-group">
          <li class="list-group-item">
            <p><b>Featured Article</b></p>
            <center><p><small>Social Media and Orphan Works</small></p></center>

            <p>{{> problemItem}}</p>
            <p>Who owns the copyright in user-generated content on social media? For instance, who owns a photograph that a user problems on his Facebook account, if she makes it publicly visible? While social media platforms cannot claim ownship of such content, platform licenses to use the content, create issues when third parties re-use it without permission.</p>
            <p><small><a href="{{pathFor 'article'}}">Continue Reading...</a></small></p>
          </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <ul class="list-group">
          <li class="list-group-item">
            <p><b>Featured Article</b></p>
            <center><p><small>DMCA Counter-Notification Reform</small></p></center>

            <p>{{> problemItem}}</p>
            <p>A DMCA counter-notification under § 512(g)(3) can be issued by an allegedly infringing website owner as a response to a valid DMCA takedown notice.   It serves as a buffer against the damage caused by false takedown notices and discourages abuse of the copyright infringement identification process, while giving those who are subject to the DMCA notice a means to have removed works restored. However, the law is incredibly strict in imposing an acceptable format for counter-notifications.</p>
            <p><small><a href="{{pathFor 'article'}}">Continue Reading...</a></small></p>
          </li>
      </ul>
    </div>
  </div>


    <div class="col-sm-8">
      <div class="list-group">
        <ul class="list-group">
          <li class="list-group-item">
            <center><h1>Article List</h1></center>
              <div class="row">
                <p>{{> problemItem}}Reforming Synchronization Licensing on YouTube</p>
              </div>

              <div class="row">
                <p>{{> problemItem}}Cloud Computing and Recorded Streams Post-Aereo</p>
              </div>

              <div class="row">
                <p>{{> problemItem}}Copyright Trolling and YouTube’s Content ID</p>
              </div>

              <div class="row">
                <p>{{> problemItem}}Royalty Rate Reform for Subscription Streaming Services</p>
              </div>

              <div class="row">
                <p>{{> problemItem}}Fair Trade Royalty Deals for Musicians from Developing Countries</p>
              </div>

              <div class="row">
                <p>{{> problemItem}}Fair Use for Gossip Bloggers</p>
              </div>
          </li>
        </ul>
      </div>
    </div>
</template>
