<template name="dashboard">
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to What(If)</h1>
        <p>Congress enacted the Digital Millenium Copyright Act (DMCA) in 1998 in an effort to keep legislation on par with the development of the Internet. At the time, the Act was praised as “landmark legislation” as it provided a means of protection for copyrighted work, for which previous Copyright laws were not equipped to handle. With more than a decade passing since the enactment of the DMCA, technology has continued to evolve, leading to a compromise on the effectiveness of the act. Two areas in great need of reform are the Counter Notice Provision (§ 512(g)(3)) and the Anti-Circumvention Provision (§1201).</p>
        <center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'selection'}}" role="button">Submit Your idea</a></p></center>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="list-group">
        <h1>Top Influencers</h1>
        <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">1000</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
            <li class="list-group-item">
              <span class="badge">99</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
            <li class="list-group-item">
              <span class="badge">93</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
            <li class="list-group-item">
              <span class="badge">92</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
        </ul>
      </div>

      <div class="list-group">
        <h1>Recently Updated</h1>
        <ul class="list-group">
            <li class="list-group-item">
              {{> votes}}
                Copyright
            </li>
            <li class="list-group-item">
              {{> votes}}
                Corporate
            </li>
            <li class="list-group-item">
              {{> votes}}
                Privacy
            </li>
            <li class="list-group-item">
              {{> votes}}
                Immigration
            </li>
        </ul>
      </div>
    </div>


    <p><a class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">Copyright</a></p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Data Privacy</a></p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Environmental Policy</a></p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Food and Drug Policy</a></p>
</template>
