<template name="dashboard">
    <div class="jumbotron">
      <div class="container">
        <center><h1>Welcome to What(If)</h1></center>
        <p>Congress enacted the Digital Millenium Copyright Act (DMCA) in 1998 in an effort to keep legislation on par with the development of the Internet. At the time, the Act was praised as “landmark legislation” as it provided a means of protection for copyrighted work, for which previous Copyright laws were not equipped to handle. With more than a decade passing since the enactment of the DMCA, technology has continued to evolve, leading to a compromise on the effectiveness of the act. Two areas in great need of reform are the Counter Notice Provision (§ 512(g)(3)) and the Anti-Circumvention Provision (§1201).</p>
        <center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'selection'}}" role="button">Submit Your idea</a></p></center>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Top Influencers</div>
          <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">1000</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
            <li class="list-group-item">
              <span class="badge">99</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
            <li class="list-group-item">
              <span class="badge">93</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
            <li class="list-group-item">
              <span class="badge">92</span>
                Andre Smith
                <p>Suitefolio - Developer</p>
            </li>
        </ul>
          </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Recently Updated</div>
          <div class="panel-body">
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Corporate
                <p>Equity crowdfunding under the jobs act</p>
            </li>
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Privacy
                <p>Near Field Communication Technology</p>
            </li>
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Immigration
                <p>The Startup Visa</p>
            </li>
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Immigration
                <p>Recorded Streams post Aereo</p>
            </li>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-xlarge" role="button">
          <p><small>Copyright</small></p>
        </button>

        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Startup Formation</small>
        </button>
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Data Policy</small>
        </button>

        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Trade Secrets</small>
        </button>
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Environmental</small>
        </button>

        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Access To Justice</small>
        </button>
      </div>

      <div class="col-6">
        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Food and Drug</small>
        </button>

        <button type="button" class="btn btn-primary btn-xlarge" href="{{pathFor 'copyright'}}" role="button">
          <small>Immigration</small>
        </button>
      </div>
    </div>
</template>
