<template name="dashboard">
    <div class="jumbotron">
      <div class="container">
        <center><h1>Welcome to What(If)</h1></center>
        <center><p>What(If) is a new digital legal innovation commons for entrepreneurial lawyers, students, academics, and other interested observers.  Our common purpose is open and creative information sharing, presenting law-and-technology problems and solutions to lay the foundation of a crowdsourcing platform for next-generation policy proposals.  Define and empower the lawyer-entrepreneur by reading, responding, and adding your ideas.  We want to change the world by answering this question: where does the law fail to keep up with the needs of new technologies and ventures?</p></center>
        <center><p>Have a policy problem in mind?  A loose thread for us to research?  It all starts here.</p></center>
        <center><p><a class="btn btn-primary btn-lg" href="{{pathFor 'selection'}}" role="button">Submit Your idea</a></p></center>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Top Influencers</div>
          <div class="panel-body">
            <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">100</span>
                Andre Smith
                <p>CEO at Suitefolio Inc.</p>
            </li>
            <li class="list-group-item">
              <span class="badge">95</span>
                Mick Mallard
                <p>Privacy Professor at Brooklyn Law School</p>
            </li>
            <li class="list-group-item">
              <span class="badge">92</span>
                Warren Mack
                <p>General Counsel at Sass, Inc.</p>
            </li>
            <li class="list-group-item">
              <span class="badge">89</span>
                Geraldo Rivera
                <p>Innovation Catalyst at Fox News Channel</p>
            </li>
        </ul>
          </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Recently Updated</div>
          <div class="panel-body">
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Copyright
                <p>Synch Licensing on Youtube</p>
            </li>
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Corporation & LLCs
                <p>Equity Crowdfuncing under the JOBS Act</p>
            </li>
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Information Privacy
                <p>Near-Field Communication Technology</p>
            </li>
            <li class="list-group-item">
              <span>{{> problemItem}}</span>
                Immigration
                <p>The Startup Visa</p>
            </li>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">

        <a href="{{pathFor 'copyright'}}" class="btn btn-primary btn-xlarge" role="button">Copyright</a>

        <a href="#" class="btn btn-primary btn-xlarge" role="button">Corporations & LLCs </a>
      </div>

      <div class="col-6">
        <a href="#" class="btn btn-primary btn-xlarge" role="button">Information Privacy</a>

        <a href="#" class="btn btn-primary btn-xlarge" role="button">Patent & Trade Secrets </a>
      </div>

      <div class="col-6">
        <a href="#" class="btn btn-primary btn-xlarge" role="button">Immigration</a>

        <a href="#" class="btn btn-primary btn-xlarge" role="button">Trademark </a>
      </div>

      <div class="col-6">
        <a href="#" class="btn btn-primary btn-xlarge" role="button">Environmental</a>

        <a href="#" class="btn btn-primary btn-xlarge" role="button">Food & Drug </a>
      </div>
    </div>
</template>
