<!-- <template name="sidebar">
	<div class="col-sm-4">
		<ul class="nav nav-tabs nav-stacked">
			<li><a href='#'>Copyright</a></li>
			<li><a href='#'>Patent</a></li>
			<li><a href='#'>Trademark</a></li>
			<li><a href='#'>Information Privacy</a></li>
			<li><a href='#'>Corporatins & LLCs</a></li>
			<li><a href='#'>Immigration</a></li>
			<li><a href='#'>Environmental</a></li>
			<li><a href='#'>Food & Drug</a></li>
			<li><a href='#'>Access to Justice</a></li>
			<li><a href='#'>Consumer Protection</a></li>
			<li><a href='#'>Education</a></li>
		</ul>
	</div>
</template> -->

<template name="sidebar">
	<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Copyright</a>
                </li>
                <li>
                    <a href="#">Copyright</a>
                </li>
                <li>
                    <a href="#">Copyright</a>
                </li>
                <li>
                    <a href="#">Copyright</a>
                </li>
                <li>
                    <a href="#">Copyright</a>
                </li>
                <li>
                    <a href="#">Copyright</a>
                </li>
                <li>
                    <a href="#">Copyright</a>
                </li>
            </ul>
        </div>
</template>
